doctype
html
	head
		meta(charset="utf-8")
		link(rel="stylesheet", href="public/css/index.min.css")
		title Corruptos
	body(data-ng-app="ppcModule")
		div(data-ng-controller="initController as init")
			{{init.msg}}

		script(type="text/javascript", src="src/libs/angular/angular.js")
		script(type="text/javascript", src="public/js/app.min.js")
